#posts {
    line-height: 1.5em;
}

#posts a {
    text-decoration: none;
    color: #000000;
    padding-bottom: 2px;
}

#posts a:hover {
    color: #FF3366;
    border-color: #999999;
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
}

#post {
    display: table;
    text-align: justify;
}

#posts .post-date {
    width: 12em;
    font-size: 0.6em;
    vertical-align: middle;
    color: #999999;
    padding-right: 10px;
    display: table-cell;
}

#posts .post-title {
    display: table-cell;
}