{% extends "base.html" %}

{% block head %}
    <title>{{ post.title }}{% if post.subtitle %}: {{ post.subtitle }}{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}"/>
{% endblock head %}


{% block content %}
<!-- header section -->
<div id="header">
  <br />
  <a href="/">home page</a>
  <h1>{{ post.title }}</h1>
    {% if post.subtitle %}
        <h2>{{ post.subtitle }}</h2>
    {% endif %}
    <h3 id="date">{{ post.date|date('%d-%m-%Y') }}</h3>
</div>

<!-- content section -->
<div id="content">
    {{ post.html|safe }}
</div>
{% endblock content %}
